@model IEnumerable<MyTinyCollege.ViewModels.EnrollmentDateGroup>
@{
    ViewBag.Title = "Student Body Stats";
}

<h2>Student Body Stats</h2>

<table class="table table-condensed" >
    <thead>
        <tr>
            <th>Enrollment Date</th>
            <th>Students</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelitem=>item.EnrollmentDate)</td>
                <td>@item.StudentCount</td>
            </tr>
        }


    </tbody>


</table>

